
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Reem+Kufi:wght@400;500&display=swap');

// Titles
h1, h2, h3, h4, h5, h6{
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 500;
}

// Paragraphs
p, a, li, span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

// Weights
.light{
    font-weight: 300;
}
.regular{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}
.semibold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}

// Sizes
